<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <% if video.video.attached? %>
    <p>
      <strong>User:</strong>
      <video controls="ture" preload="metadata">
        <source src="<%= rails_blob_url(video.video) %>" type="<%= video.video.content_type %>">
      </video> 
      
    </p>
  <% end %>

</div>
